@font-face {
    font-family: "HarmonyOS Sans SC";
    font-style: normal;
    src: url("/plugins/siyuan-plugin-ttf-HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf");
}
    
:root {
    --b3-font-family: "HarmonyOS Sans SC", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", "sans-serif", "Twitter Emoji", "Noto Color Emoji", "OpenMoji", "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji","Twitter Emoji", "Noto Color Emoji", "OpenMoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
}