/* 基础字体 */
@font-face {
  font-family: "HarmonyOS Sans";
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans/HarmonyOS_Sans_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HarmonyOS Sans";
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans/HarmonyOS_Sans_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 基础斜体 */
@font-face {
  font-family: "HarmonyOS Sans";
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans_Italic/HarmonyOS_SansItalic_Regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HarmonyOS Sans";
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans_Italic/HarmonyOS_SansItalic_Bold.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 简体中文 */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_SansSC/HarmonyOS_SansSC_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_SansSC/HarmonyOS_SansSC_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 阿拉伯语 */
@font-face {
  font-family: 'HarmonyOS Sans Naskh Arabic';
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans_Naskh_Arabic/HarmonyOS_Sans_Naskh_Arabic_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HarmonyOS Sans Naskh Arabic';
  src: url('../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/HarmonyOS_Sans/HarmonyOS_Sans_Naskh_Arabic/HarmonyOS_Sans_Naskh_Arabic_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Twemoji */
@font-face {
  font-family: "Twemoji";
  src: url("../plugins/siyuan-ttf-HarmonyOS_Sans_SC-and-Twemoji/Twemoji/Twemoji-16.0.1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --b3-font-family: "HarmonyOS Sans", "HarmonyOS Sans SC", "HarmonyOS Sans Naskh Arabic", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "Luxi Sans", "DejaVu Sans", arial, sans-serif, emojis !important;
  --b3-font-family-emoji: "Twemoji", "Emojis Additional", emojis !important;
}

:root:lang(zh_CN) {
  --b3-font-family: "HarmonyOS Sans", "HarmonyOS Sans SC", "HarmonyOS Sans Naskh Arabic", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "PingFang SC", "Luxi Sans", "DejaVu Sans", arial, "Microsoft Yahei", "Hiragino Sans GB", "Source Han Sans SC", sans-serif, emojis !important;
}

:root:lang(ar_SA) {
  --b3-font-family: "HarmonyOS Sans", "HarmonyOS Sans Naskh Arabic", "HarmonyOS Sans SC", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "Luxi Sans", "DejaVu Sans", arial, sans-serif, emojis !important;
}
